<div class="main-conatainer">
 <div class="header">
   <mat-card>
     <div class="buttons">
       <button (click)="toggleDrawer()" class="left-drawer-button" mat-icon-button>
         <mat-icon>list</mat-icon>
       </button>
     <button class="button1" mat-raised-button>Get News</button>
     <button class="button" mat-raised-button>Getting Started</button>
     <button class="button" mat-raised-button>Tutorial</button>
     <button class="button" mat-raised-button>Go Pro</button>
     <button class="button" mat-raised-button>Big Bundle</button>
     </div>
     <div class="login-section">
       <mat-icon>mail</mat-icon>
       <p class="a">Support<mat-icon>contact_support</mat-icon></p>
       <p class="a">Tools <mat-icon>build</mat-icon></p>
       <button class="login-button" mat-raised-button>Log in</button>
     </div>

   </mat-card>
 </div>
  <ecm-page></ecm-page>
  <br><br><hr><br>
  <ecm-features></ecm-features>
  <ecm-social></ecm-social>
</div>


