<div class="social">
  <button class="button1" mat-raised-button>Newsletter <mat-icon>email</mat-icon></button>
  <button class="button1" mat-raised-button>Affiliate program <mat-icon>present_to_all</mat-icon></button>
  <button class="button1" mat-raised-button>contact <mat-icon>mail_outline</mat-icon></button>
  <i class="fa fa-github fa-1x"></i>
  <i class="fa fa-youtube-play fa-1x" aria-hidden="true"></i>
  <i class="fa fa-facebook fa-1x" aria-hidden="true"></i>
  <i class="fa fa-twitter fa-1x" aria-hidden="true"></i>
</div>
