<div class="final">
<div class="footer">
<div class="useful-links">
  <h3><b>USEFUL LINKS</b></h3>
  <p>Frequently Asked Questions</p>
  <p>Browsers and devices</p>
  <p>License</p>
  <p>ChangeLog</p>
  <p>Privacy Policy</p>
  <p>Return/Refund policy</p>
  <p>Students and universities</p>
</div>
  <div class="resources">
    <h3><b>RECOURCES</b></h3>
    <p>MDB jQuery</p>
    <p>MDB Angular</p>
    <p>MDB React</p>
    <p>MDB Vue</p>
    <P>Support forum</P>
    <p>MDB Editor & Snippets</p>
    <p>Articles</p>
    <p>News</p>
    <p>Free templates</p>
    <p>Premium templates</p>
  </div>
  <div class="tutorial">
    <h3><b>TUTORIAL</b></h3>
    <p>Basics (HTML/CSS/JS)</p>
    <p>Bootstrap & web design</p>
    <p>Angular</p>
    <p>React</p>
    <p>Vue</p>
    <p>WordPress</p>
    <p>Miscellaneous</p>
  </div>
  <div class="company">
    <h3><b>COMPANY</b></h3>
    <p><mat-icon>email</mat-icon><span>contact@mdbootstrap.com</span></p>
    <p><mat-icon>group</mat-icon><span>Our team</span></p>
    <p><mat-icon>shop</mat-icon><span>Company data</span></p>
    <p><mat-icon>phonelink_setup</mat-icon><span>For media</span></p>
  </div>
</div>
  <div class="copyright">
    © 2019 Copyright: ARSH
  </div>
</div>
